.staff-img img {
    vertical-align: top;
}


@media screen and (max-width: 720px) {

    .about-content {
        background-image: url("../img/5006138_s.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 40px;
        border-radius: 15px;
    }

    .about-content-2 {
        background-image: url("../img/24845390_s.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 40px;
        border-radius: 15px;
    }

    .box {
        background-color: var(--white-color);
        opacity: 0.8;
        border-radius: 15px;
        padding: 100px 20px;
        text-align: center;

    }

    .plus {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .plus img {
        width: 30px;
    }

    .goldframe {
        margin-top: 100px;
        margin-bottom: 150px;
        background-image: url("../img/goldframe2.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 10px;
        text-align: center;
    }

    .subheading {
        text-align: center;
        margin-bottom: 50px;
    }

    .border {
        content: "";
        margin: 0 auto;
        margin-top: 10px;
        width: 40px;
        border: 1px solid var(--main-color);
    }

    .service-content {
        width: 100%;
    }

    .service-content_img {
        width: 100%;
        text-align: center;
    }

    .service-content_img img {
        width: 170px;
        height: 120px;
    }

    .service-content_text {
        margin: 0 auto;
        width: 100%;
        color: var(--lead-color);
        margin-bottom: 40px;
    }

    .content_text_title {
        text-align: center;
        margin-top: 20px;
    }

    .service-content_text p {
        line-height: 2;
    }

    .underbar {
        content: "";
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 60%;
        border: 1px solid var(--main-color);

    }

    .subtitle {
        font-size: 14px;
        color: var(--main-color);
    }

    .service-content_img_sub {
        width: 100%;
        text-align: center;
    }

    .service-content_img_sub img {
        width: 150px;
        height: 100px;
    }

    .underbar_sub {
        content: "";
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 60%;
        border: 1px solid var(--main-color);
    }


    .staff {
        padding-top: 50px;
        margin-top: 130px;
        padding-bottom: 50px;
    }

    .staff-section {
        width: 90%;
        margin: 0 auto;
    }

    .staff-content {
        margin-bottom: 50px;
    }

    .staff-img {
        width: 100%;

    }

    .staff-img img {
        width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        vertical-align: top;
    }

    .staff-text {
        background-color: var(--pinkbeige-color);
        text-align: center;
        border-radius: 0 0 15px 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

}


@media screen and (min-width: 721px) {

    .about-box {
        display: flex;
    }

    .about-content {
        background-image: url("../img/5006138_s.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 40%;
        padding: 40px;
        border-radius: 15px;
    }

    .about-content-2 {
        background-image: url("../img/24845390_s.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 40%;
        padding: 40px;
        border-radius: 15px;
    }

    .box {
        background-color: var(--white-color);
        opacity: 0.8;
        border-radius: 15px;
        padding: 100px;
        text-align: center;

    }

    .plus {
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 130px;
    }

    .goldframe {
        margin-top: 100px;
        margin-bottom: 150px;
        background-image: url("../img/goldframe2.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 10px;
        text-align: center;
    }

    .subheading {
        text-align: center;
        margin-bottom: 150px;
    }

    .border {
        content: "";
        margin: 0 auto;
        margin-top: 20px;
        width: 40px;
        border: 1px solid var(--main-color);
    }


    .service-box {
        display: flex;
        justify-content: space-between;
    }

    .service-content {
        width: 100%;
    }

    .service-content_img {
        width: 100%;
        text-align: center;
    }

    .service-content_img img {
        width: 170px;
        height: 120px;
    }

    .service-content_text {
        margin: 0 auto;
        width: 70%;
        color: var(--lead-color);
    }

    .content_text_title {
        text-align: center;
        margin-top: 20px;
    }

    .service-content_text p {
        line-height: 2;
    }

    .underbar {
        content: "";
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        border: 1px solid var(--main-color);

    }

    .subtitle {
        font-size: 14px;
        color: var(--main-color);
        margin-top: 5px;
    }

    .service-content_img_sub {
        width: 100%;
        text-align: center;
    }

    .service-content_img_sub img {
        width: 170px;
        height: 100px;
    }

    .underbar_sub {
        content: "";
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        border: 1px solid var(--main-color);
    }


    .staff {
        padding-top: 100px;
        margin-top: 130px;
    }

    .staff-section {
        width: 62%;
        margin: 0 auto;
    }

    .staff-box {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .staff-content {
        width: 30%;
        margin-bottom: 50px;
    }

    .staff-img {
        width: 100%;
    }

    .staff-img img {
        width: 100%;
        border-radius: 15px 15px 0 0;
    }

    .staff-text {
        background-color: var(--pinkbeige-color);
        padding: 40px;
        text-align: center;
        border-radius: 0 0 15px 15px;
    }

}