@media screen and (max-width: 720px) {
    .map {
        width: 100%;
        margin: 0 auto;
    }

    .map iframe {
        width: 100%;
        border-radius: 15px;
    }

    .access-box {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 100px;
    }

    .access-text {
        display: flex;
        margin-top: 50px;
    }

    .access-text h3 {
        width: 20%;
    }



    .access-text h3 {
        margin-right: 30px;
    }

}

@media screen and (min-width: 721px) {

    .map {
        width: 100%;
        margin: 0 auto;
    }

    .map iframe {
        margin: 0 auto;
        width: 100%;
        min-height: 300px;
    }

    .access-box {
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 100px;
        width: 30%;
    }

    .access-text {
        display: flex;
        margin-top: 50px;
    }

    .access-text h3 {
        margin-right: 30px;
    }

}