.headline {
    position: relative;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.headline h2 {
    position: absolute;
    color: var(--lead-color);
    font-size: 36px;
    top: 55px;
    left: 530px;
    font-weight: normal;
}

.headline p {
    font-size: 156px;
    color: var(--main-color);
    opacity: 0.1;
}

.access {
    margin-left: var(--main-margin-left);
    margin-right: var(--mein-margin-raight);
}

.access-box {
    margin-top: 100px;
    margin-bottom: 100px;
}

.access-text {
    display: flex;
    margin-top: 50px;
}

.access-text h3 {
    margin-right: 30px;
}