ul li {
    display: flex;
}

ul li:nth-child(even) {
    flex-direction: row-reverse;
}

.fasility-content_img {
    width: 100%;
    height: 100%;
}

.fasility-content_img img {
    width: 600px;
    height: 400px;
    border-radius: 15px;
}

.fasility-content_img_even {
    text-align: right;
    width: 100%;
    height: 100%;
}

.fasility-content_img_even img {
    width: 600px;
    height: 400px;
    border-radius: 15px;
}


.facility-content_text {
    width: 60%;
    margin-top: 100px;
    margin-bottom: 200px;
    margin-right: 40px;
}

.facility-content_text_even {
    width: 60%;
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 30px;
}

.facility-content_text_even h3 {
    text-align: center;
    margin-bottom: 40px;
}


.facility-content_text h3 {
    text-align: center;
    margin-bottom: 30px;
}

.facility-content_text p {
    line-height: 2;
}

.facility-content_text_even p {
    line-height: 2;
}