@media screen and (max-width: 390px) {
    .fasility-content_img {
        width: 100%;
        height: 100%;
    }

    .fasility-content_img img {
        width: 100%;
        border-radius: 15px;
    }

    .fasility-content_img_even {
        width: 100%;
        height: 100%;
    }

    .fasility-content_img_even img {
        width: 100%;
        border-radius: 15px;
    }

    .facility-content_text {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .facility-content_text_even {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .facility-content_text_even h3 {
        text-align: center;
        margin-bottom: 40px;
    }


    .facility-content_text h3 {
        text-align: center;
        margin-bottom: 30px;
    }

    .facility-content_text p {
        line-height: 1.5;
    }

    .facility-content_text_even p {
        line-height: 1.5;
    }
}

@media screen and (min-width: 960px) {


    .facility-content {
        display: flex;
    }

    .fasility-content_img {
        width: 50%;
    }

    .fasility-content_img img {
        width: 100%;
        border-radius: 15px;
    }

    .even {
        order: 2;
    }

    .odd {
        order: 1;
    }


    .facility-content_text {
        width: 50%;
        padding-top: 50px;
        padding-right: 50px;
        padding-left: 50px;
    }

    .facility-content_text h3 {
        text-align: center;
        margin-bottom: 30px;
    }

    .facility-content_text p {
        line-height: 2;
    }

    .facility-content_text_even p {
        line-height: 2;
    }

}