/* スマホ用のCSSはメディアクエリの外に記述する */

@media screen and (max-width: 390px) {
    .top {
        position: relative;
    }

    .top img {
        width: 100%;
        vertical-align: top;
    }

    .top-lead {
        position: absolute;
        left: 5px;
        top: 20px;
    }

    .lead1 {
        font-size: 16px;
        left: 15px;
        margin-bottom: 5px;
        color: var(--main-color);
    }

    .lead2 {
        font-size: 18px;
        left: 10px;
        margin-bottom: 10px;
        color: var(--main-color);
    }

    .lead3 {
        font-size: 32px;
        color: var(--main-color);
    }

    .top-copy {
        background-color: var(--main-color);
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
        text-align: center;
        color: var(--lead-color);
    }

    .about-img {
        width: 100%;
        margin-bottom: 30px;
    }

    /* .about-img img { 
        width: 360px;
        height: 240px;
        border-radius: 15px;
    } */

    /* .about-lead-img img {
        width: 360px;
        height: 300px;
    } */

    */ .about-lead-box {
        position: relative;
    }

    .about-lead {
        /* position: absolute;
        top: 20px;
        width: 90%;
        transform: translate(10%, 25%); */
        border: 1px solid;
        padding: 30px;
        background-image: url("../img/goldframe1.png");
    }

    .about-lead1 {
        font-size: 18px;
        text-align: center;
        color: var(--main-color);
        line-height: 1.2;
    }

    .about-lead2 {
        font-size: 16px;
        color: var(--lead-color);
        line-height: 1.5;
        margin-top: 20px;
    }

    .button {
        text-align: right;
        width: 100%;
        margin-top: 100px;
    }

    .button img {
        width: 180px;
        height: 30px;
    }

    .facility-img {
        margin: 0 auto;
    }

    .facility-img img {
        width: 360px;
        height: 260px;
        border-radius: 15px;
    }

    .facility-content p {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        color: var(--lead-color);
        font-size: 18px;
        line-height: 1.5;
    }

    .join-lead {
        text-align: center;
        margin-bottom: 100px;
    }

    .join-lead P {
        font-size: 20px;
        color: var(--main-color);
    }

    .join-box {
        text-align: center;
    }

    .join-content {
        width: 100%;
    }

    .circle {
        margin-bottom: 50px;
        display: inline-block;
        width: 250px;
        height: 250px;
        line-height: 2;
        border-radius: 50%;
        border: solid 1px var(--main-color);
    }

    .circle-content img {
        margin-right: 150px;
        margin-bottom: 10px;
    }

    .circle-content h3 {
        margin-bottom: 20px;
        color: var(--lead-color);
    }

    .circle-content p {
        margin-bottom: 50px;
        color: var(--lead-color);
    }
}

@media screen and (min-width: 960px) {

    .top {
        position: relative;
    }

    .top img {
        width: 100%;
        vertical-align: top;
    }

    .top-lead {
        position: absolute;
        left: 200px;
        top: 200px;
    }

    .lead1 {
        font-size: 32px;
        left: 15px;
        margin-bottom: 20px;
        color: var(--main-color);
    }

    .lead2 {
        font-size: 40px;
        left: 10px;
        margin-bottom: 30px;
        color: var(--main-color);
    }

    .lead3 {
        font-size: 96px;
        color: var(--main-color);
    }

    .top-copy {
        background-color: var(--main-color);
        width: 100%;
        padding-top: 38px;
        padding-bottom: 38px;
        font-size: 24px;
        text-align: center;
        color: var(--lead-color);
    }

    .about-box {
        display: flex;
        justify-content: space-between;
    }

    .about-img {
        width: 50%;
    }

    .about-img img {
        width: 100%;
        border-radius: 15px;
    }

    /* .about-lead-img {
        width: 100%;
    }

    .about-lead-img img {
        width: 500px;
        height: 420px;
    } */

    .about-lead-box {
        position: relative;
        width: 40%;
    }

    .about-lead {
        background-image: url("../img/goldframe1.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 50px;
    }

    .about-lead1 {
        font-size: 24px;
        text-align: center;
        color: var(--main-color);
        line-height: 1.5;
    }

    .about-lead2 {
        font-size: 18px;
        color: var(--lead-color);
        line-height: 2;
    }

    .button {
        text-align: right;
        width: 100%;
        margin-top: 100px;
    }

    .button img {
        width: 300px;
        height: 55px;
    }

    .facility-box {
        display: flex;
        justify-content: space-between;
    }

    .facility-content {
        width: 100%;
    }

    .facility-img {
        width: 100%;
        text-align: center;
    }

    .facility-img img {
        width: 380px;
        height: 260px;
        border-radius: 15px;
    }

    .facility-content p {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        color: var(--lead-color);
        line-height: 1.5;
        font-size: 18px;
    }

    .join-lead {
        text-align: center;
        margin-bottom: 100px;
    }

    .join-lead P {
        font-size: 20px;
        color: var(--main-color);
    }

    .join-box {
        display: flex;
        text-align: center;
    }

    .join-content {
        width: 100%;
    }

    .circle {
        display: inline-block;

        width: 300px;
        height: 300px;
        line-height: 2.5;
        border-radius: 50%;
        border: solid 1px var(--main-color);
    }

    .circle-content img {
        margin-right: 150px;
        margin-bottom: 10px;
    }

    .circle-content h3 {
        margin-bottom: 20px;
        color: var(--lead-color);
    }

    .circle-content p {
        margin-bottom: 50px;
        color: var(--lead-color);
    }

}